<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- OpenGraph Information -->
        <meta
            property="og:title"
            content="FFXIV Mount Farming Tool%fc-og-string%"
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://mounts.rosaworks.uk/%fc-id%" />
        <meta
            property="og:image"
            content="https://mounts.rosaworks.uk/i/oglogo.png"
        />
        <meta
            property="og:description"
            content="A tool for planning which duties to undertake when mount farming in Final Fantasy XIV."
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="farm.css" />
        <title>FFXIV Mount Farming Tool%fc-og-string%</title>
    </head>
    <body class="bg-dark text-light">
        %fc-header%
        <div class="contentrow">
            %mount-list%
            <footer>
                Created by Rosalind Dex (Moogle),<br />
                Powered by
                <a target="_blank" class="text-white" href="https://xivapi.com/"
                    >XIVAPI</a
                >.<br /><br />
                FINAL FANTASY XIV ©2010 - 2020 SQUARE ENIX CO., LTD.<br />
                FINAL FANTASY is a registered trademark of Square Enix Holdings
                Co., Ltd.<br />
                All material used under license.
            </footer>
        </div>
        <div class="modal text-dark" id="DutyModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Duties to Farm:</h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="DutiesToFarmList"></div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
        <script>
            let DutyList = %duty-list-array%;
            let Duties = {};
            for (let i=0; i<DutyList.length; i+=1){
                Duties[DutyList[i]] = 0;
            }
            function btnClick(CharacterID, MissingMounts) {
                let element = document.getElementById('btn'+CharacterID);
                let modal = document.getElementById('DutiesToFarmList');
                if (element.innerHTML == '+') {
                    element.className = 'btn btn-danger';
                    element.innerHTML = '-';
                    MissingMounts.forEach(function(Duty){
                        Duties[Duty] = Duties[Duty] + 1;
                    });
                    let DutiesToFarm = '';
                    Object.keys(Duties).forEach(function eachKey(key) {
                        if (Duties[key] > 0) {
                            DutiesToFarm += key + ' (' + Duties[key] + '), ';
                        }
                    });
                    DutiesToFarm = DutiesToFarm.substring(0, DutiesToFarm.length - 2)+'.';
                    modal.innerHTML = DutiesToFarm;
                } else {
                    element.className = 'btn btn-primary';
                    element.innerHTML = '+';
                    MissingMounts.forEach(function(Duty){
                        Duties[Duty] = Duties[Duty] - 1;
                    });
                    let DutiesToFarm = '';
                    Object.keys(Duties).forEach(function eachKey(key) {
                        if (Duties[key] > 0) {
                            DutiesToFarm += key + ' (' + Duties[key] + '), ';
                        }
                    });
                    DutiesToFarm = DutiesToFarm.substring(0, DutiesToFarm.length - 2)+'.';
                    modal.innerHTML = DutiesToFarm;
                }
            }
        </script>
        <script>
            $(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $('#formFCSelection').keydown(function(e) {
                if (e.keyCode === 10 || e.keyCode === 13) {
                    e.preventDefault();
                    FCSearch();
                }
            });
        </script>
    </body>
</html>
