<form id="formCustomGroup">
    <div>
        <div style="display:inline-block; margin-bottom:.5rem; width:150px;">
            Server
        </div>
        <div
            style="display:inline-block; width:325px; margin-bottom:.5rem; padding-left:20px;"
        >
            Character Name
        </div>
    </div>
    <div class="form-row" style="padding-bottom:5px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-1-server"
                name="char-1-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-1-name"
                name="char-1-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div class="form-row" style="padding-bottom:5px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-2-server"
                name="char-2-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-2-name"
                name="char-2-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div class="form-row" style="padding-bottom:5px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-3-server"
                name="char-3-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-3-name"
                name="char-3-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div class="form-row" style="padding-bottom:5px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-4-server"
                name="char-4-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-4-name"
                name="char-4-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div class="form-row" style="padding-bottom:5px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-5-server"
                name="char-5-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-5-name"
                name="char-5-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div class="form-row" style="padding-bottom:5px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-6-server"
                name="char-6-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-6-name"
                name="char-6-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div class="form-row" style="padding-bottom:5px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-7-server"
                name="char-7-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-7-name"
                name="char-7-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div class="form-row" style="padding-bottom:10px;">
        <div class="col">
            <select
                class="form-control font-small"
                id="char-8-server"
                name="char-8-server"
                style="width:150px;"
            >
                <option value="None" selected>Pick a Server</option>
                %server-list%
            </select>
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                id="char-8-name"
                name="char-8-name"
                placeholder="Character Name (i.e. Wandering Minstrel)"
                style="width:325px;"
            />
        </div>
    </div>
    <div>
        <button
            type="button"
            class="btn btn-success"
            onclick="CustomGroupSearch()"
        >
            Search
        </button>
    </div>
</form>
